/* Apply styles only on laptops and desktops */
@media (min-width: 1024px) {

    html {
        background-image: linear-gradient(to right, rgb(11, 73, 207), rgb(1, 31, 73), rgb(11, 73, 207));
        opacity: 0.95;
    }

    .DevPoint {
        position: absolute;
        top: 80px;
        left: 200px;
        animation: fade;
        animation-duration: 5s;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .wrap {
        background-color: #f2f2f2;
        height: 10px;
        width: 400px;
        margin: 0 auto;
        position: relative;
        top: 600px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .wrap div {
        background-color: #ffcc00;
        height: 10px;
        width: 0%;
        border-radius: 5px;
        animation: loadbar 3s forwards;
    }

    @keyframes loadbar {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }

    .div1 {
        background-color: #ffcc001a;
        backdrop-filter: blur(2px);
        width: 1500px;
        height: 300px;
        border-radius: 10px;
        position: absolute;
        top: 800px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.6s ease-out;
        display: flex;
        flex-direction: row;
    }

    .div1.visible {
        opacity: 1;
        transform: translateY(0);
    }

    img {
        width: auto;
        height: 300px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #p1 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 120px;
        color: rgb(255, 255, 255);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 150px;
        left: 380px;
        animation: fade 5s;
    }

    #p {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-size: 150px;
        color: rgb(255, 255, 255);
        text-align: center;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 150px;
    }

    .slideanim {
        visibility: hidden;
        visibility: visible\9;
    }

    .slideanim.slide {
        visibility: visible;
        animation: slide 1s;
    }

    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    p {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: rgb(255, 255, 255);
        margin: 10px 30px 0 0;
        padding: 40px;
        text-align: left;
    }

    .div2 {
        background-color: #ffcc001a;
        backdrop-filter: blur(2px);
        width: 1500px;
        height: 500px;
        border-radius: 10px;
        position: absolute;
        top: 1200px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.6s ease-out;
        flex-direction: row;
    }

    .div2.visible {
        opacity: 1;
        transform: translateY(0);
    }

    #t1 {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: 18px;
        color: rgb(255, 255, 255);
        margin-right: 240px;
    }

    #img2 {
        position: absolute;
        top: 40px;
        right: 0;
        height: 460px;
        width: auto;
        border-bottom-right-radius: 10px;
    }

    #img3 {
        position: absolute;
        top: 40px;
        left: 0;
        height: 460px;
        width: auto;
        border-bottom-left-radius: 10px;
    }

    #sd1,
    #sd2,
    #sd4 {
        width: 500px;
        background-color: #ffcc001a;
        height: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .sd {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    i {
        color: #ffcc00;
    }

    .footer {
        background-color: #ffffff2b;
        backdrop-filter: blur(25px);
        width: 100%;
        height: 100px;
        position: absolute;
        top: 2400px;
        animation: slide-up-opacity .6s cubic-bezier(0.4, 0, 0.2, 1) 500ms forwards;
    }

    .dev {
        text-align: center;
        color: whitesmoke;
        font-family: "Poppins", sans-serif;
        font-size: 26px;
        font-weight: bold;
        position: absolute;
        top: -40px;
        left: 610px;
    }

    #insta {
        text-align: center;
        color: #ffb300;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        position: absolute;
        bottom: 20px;
        left: 690px;
    }

    #insta:hover {
        color: #f4f3f0;
    }

    #insta_icon {
        position: absolute;
        bottom: 22px;
        left: 665px;
    }

    .loginlink {
        background-color: yellow;
        width: 125px;
        height: 50px;
        position: absolute;
        left: 700px;
        border-radius: 5px;
        color: rgb(11, 73, 207);
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        font-weight: bold;
        display: none;
    }

    .loginlink:hover {
        transform: scale(1.1);
        background-color: rgb(11, 73, 207);
        color: yellow;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .tools {
        position: absolute;
        top: 1750px;
        left: 450px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.6s ease-out;
        animation: rotation 20s infinite linear;
    }

    .tools-text {
        position: absolute;
        top: 2000px;
        left: 580px;
        font-family: "Gotham", sans-serif;
        font-size: 30px;
        font-weight: 600;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.6s ease-out;
    }

    .tools.visible,
    .tools-text.visible {
        opacity: 1;
        transform: translate(0px);
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

/* Set blank screen for smaller devices */
@media (max-width: 768px) {
    html {
        display: none;
    }
}